<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="RTD Wormhole" />
    <!-- Ersetze durch den Namen deiner Assembly -->
  </extensions>

	<!-- Definiere die Ziele -->
  <targets>
    <target xsi:type="RichTextBoxTarget" name="richtextbox" layout="[${longdate}] [${uppercase:${level}}] ${message}" />
    <target xsi:type="File" name="logfile" fileName="logs/logfile-${shortdate}.log"
            layout="[${longdate}] [${uppercase:${level}}] ${message}"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <!-- Definiere die Regeln -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="richtextbox" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>